# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# TimescaleDB
TIMESCALEDB_HOST=localhost
TIMESCALEDB_PORT=5432
TIMESCALEDB_DB=gridcast
TIMESCALEDB_USER=
TIMESCALEDB_PASSWORD=

# ISO / EIA
EIA_API_KEY=
PJM_DATAMINER_API_KEY=

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000

# Cloudflare
CLOUDFLARE_TUNNEL_TOKEN=